body {
    font-family: 'Lemonada', sans-serif !important;
    background: #294664;
    background-image: url(../images/alaska.jpg);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.3) 100%),
        url(../images/alaska.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.text-reader {
    font-size: 18px !important;
}

h2{
    text-align: center;
}

h3{
    margin-bottom: 20px;
}

/*NAV*/


.navbar {
    background-color: #ddd!important;
    font-size: 12px;
    border-bottom: 1px solid #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
    height: 80px;
}
.nav-pills .nav-link{
    color: #fff !important;
    background-color: #20619C !important;
    text-align: center;
    margin-right: 10px;
}
.nav-pills .nav-link.active,  .nav-pills .nav-link:hover{
    color: #20619C !important;
    background-color: #fff !important;
    text-shadow: none;
}
.navbar-toggler{
    color: #fff !important;
    border-style: none;

}

/* ---------- HEADER ---------- */


h1::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -10px;
    background-color: #20619C;
}

h2{
    padding: 50px;
}


#home-header, #billet-header, #signal-header, #connect {
    padding-top: 150px;
    padding-bottom: 150px;
    box-sizing: border-box;
    
}



/* ---------- SECTIONS ---------- */

/* Homepage */

#home-project-alaska {
    background-color: #fff;
    padding: 80px;
    color: #000;
    margin: 120px;
    border-radius: 5px;
    
}

#home-project-alaska h4 {
    margin-bottom: 30px;
}

#home-project-alaska a {
    text-align: center;
    text-decoration: none;

}


.feature-box{
    
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.fa-book-open, .fa-comment-dots {
    font-size: 61.6px !important;
    padding-top:20px;
    padding-bottom: 10px;
    color: #20619C !important; 
}

/* les chapitres */

#chapitres, #chapitre{

    background-color: #fff;
    padding: 80px;
    color: #000;
    margin:  0 120px 120px 120px;
    border-radius: 5px;

}

#chapitres >p{

    font-size: 22px;
    padding:  0 0 50px 0;   

}

.btn-primary{
    margin: 10px 0;
}

.cPageFrame {
    background-color: #0a3d62;
    color: white ;
    
}

.cPageFrame, .pageBlock {
    padding: 7px;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.pageBlock {
    background-color: transparent;
    color: black;
    border: 1px solid #0a3d62;
}

#pageFrame {
    padding: 20px;
}

/*comments*/

#comments{

    background-color: #86B5B0;
    padding: 80px;
    color: #000;
    margin:  0 120px 120px 120px;
    border-radius: 5px;

}

#comments h2{
    text-align: center;
    padding-top: 0;
}

#comments h5{
    font-size: 15px;
    
}

#comments p{
    text-align: center;
    
}
.btn-danger{
    font-size: 10px;
    position: relative;
    left: 90% !important;
    
}


#text-comments{
    font-size: 20px;
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
}

#text-comments:hover{
    
    background: #ddd;
    
}

/*make-comment*/
#make-comment{

    background-color: #343a40;
    padding: 80px;
    color: #000;
    margin:  0 120px 120px 120px;
    border-radius: 5px;

 
}
#make-comment h2{
    padding: 0 0 50px 0;
}

#author, #comment{

    margin-bottom: 20px;
}

/*signal*/
#signal-header h2,  #signal-header p{

    color: red;
    padding-bottom: 20px;
}

#signal-header p{

    color: red;
    padding: 80px;
    background: #fff;
    border-radius: 15px;
}

/*se connecter*/

#connect{
    
    padding: 80px;
    color: #000;
    margin:  150px 120px 120px 120px;
    border-radius: 5px; 
}

.login-content{
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}


/* Sur les écrans, quand la largeur de la fenêtre fait au minimum 1024px */
@media screen and (min-width: 1024px)
{
    .box-icone {
        
        display: flex;
        
        flex-wrap: nowrap;
        margin-right: 0; 
        margin-left: 0;
    }

    .feature-box{
    margin-right: 20px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }

}

/*footer*/

footer {
    background-color: #20619C;
    color: white;
    padding: 10px 0 20px 0;
}
footer p{
    text-align: center;
}

.fa-chevron-up{
    color: white;
    font-size: 50px;
    margin: 20px;
    
}

.text-center {
    text-align: center!important;
}
